<!DOCTYPE html>
<html>
<head>
    <title>Cafe</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<div id="user">
    <%= user %>
</div>

<form method="post" action="/article/newCafe">
    <div id>

    </div>

</form>
</body>
</html>
