<!DOCTYPE html>
<html lang="zh-Hant-TW" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>新增咖啡店資訊</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="stylesheets/demo.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<head>
    <title>台北咖啡地圖</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">台灣咖啡地圖</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/">Home</a></li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"> 地區 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/district/N">北部</a></li>
                    <li><a href="/district/W">中部</a></li>
                    <li><a href="/district/S">南部</a></li>
                    <li><a href="/district/E">東部</a></li>

                </ul>
            </li>
            <% if(user){ %>
            <li><a href="/editcafePage">我要新增</a></li>
            <% } %>
            <li><a href="/knowledge">咖啡豆知識</a></li>
            <li><a href="/history">咖啡歷史</a></li>
            <% if(!user) { %>
            <li><a href="/login">登入/註冊</a></li>
            <% } %>
            <% if(user) { %>
            <li><a class="dropdown-toggle" id="login" data-toggle="dropdown" href="#"><%= user.userName %> <b
                            class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/showPerson">個人資訊</a></li>
                    <li><a href="../login/logout">登出</a></li>
                </ul>
            </li>
            <% } %>
        </ul>
    </div>

</nav>
<div class="right-nav">
    <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"> 地區 <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="district.html">北投區</a></li>
                <li><a href="district.html">士林區</a></li>
                <li><a href="district.html">大同區</a></li>
                <li><a href="district.html">中山區</a></li>
                <li><a href="district.html">松山區</a></li>
                <li><a href="district.html">內湖區</a></li>
                <li><a href="district.html">萬華區</a></li>
                <li><a href="district.html">中正區</a></li>
                <li><a href="district.html">大安區</a></li>
                <li><a href="district.html">信義區</a></li>
                <li><a href="district.html">南港區</a></li>
                <li><a href="district.html">文山區</a></li>
            </ul>
        </li>
        <li><a href="#">咖啡廳推薦</a></li>
        <li><a href="#">個人資訊</a></li>
        <li><a href="#">編輯頁面</a></li>
        <li><a href="#">咖啡豆知識</a></li>
        <li><a href="#">咖啡歷史</a></li>
    </ul>
</div>
</div>
</nav>

<div class="container">
    <!-- Codrops top bar -->
    <div class="codrops-top">
   
                <span class="right">
 
                </span>
        <div class="clr"></div>
    </div><!--/ Codrops top bar -->
    <header>
        <nav class="codrops-demos">

        </nav>
    </header>
    <section>
        <div id="container_demo">
            <a class="hiddenanchor" id="toregister"></a>
            <a class="hiddenanchor" id="tologin"></a>
            <div id="wrapper">
                <div id="login" class="animate form ui-content">
                    <form method="post" autocomplete="on" enctype="multipart/form-data">
                        <h1>咖啡店推薦</h1>
                        <p>
                            <label>照片</label>
                        <div>
                            <img id="preview" alt="" name="pic" width="250" height="250"/>
                            <input type="file" id="image" name="image" onchange="change()"/><br/>
                        </div>


                        </p>

                        <p>
                            <label for="username" class="uname" data-icon="u">店名</label>
                            <input id="username" name="title" required="required" type="name" placeholder="請輸入咖啡店店名"/>
                        </p>
                        <p>
                            <label for="username" class="uname" data-icon="u">地址</label>
                            <input id="username" name="address" required="required" type="name" placeholder="請輸入咖啡店地址"/>
                        </p>
                        <p>
                            <label for="username" class="uname" data-icon="u"> 電話</label>
                            <input id="username" name="phone" required="required" type="mail"
                                   placeholder="02-1234-5678"/>
                        </p>


                        <p>
                            <label for="about" class="about">感想</label>
                            <textarea cols="53" name="content" rows="5"
                                      placeholder=" 他們的提拉米蘇拿鐵，讓我不是在咖啡廳裡，就是在前往咖啡廳的路上"></textarea>

                        </p>
                        <p class="login button">
                            <input type="submit" value="提交"/>
                        </p>
                    </form>
                </div>


            </div>
        </div>
    </section>
</div>
<script>
    function change() {
        var pic = document.getElementById("preview"),
                file = document.getElementById("image");

        var ext = file.value.substring(file.value.lastIndexOf(".") + 1).toLowerCase();

        // gif在IE浏览器暂时无法显示
        if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
            alert("图片的格式必须为png或者jpg或者jpeg格式！");
            return;
        }
        var isIE = navigator.userAgent.match(/MSIE/) != null,
                isIE6 = navigator.userAgent.match(/MSIE 6.0/) != null;

        if (isIE) {
            file.select();
            var reallocalpath = document.selection.createRange().text;

            // IE6浏览器设置img的src为本地路径可以直接显示图片
            if (isIE6) {
                pic.src = reallocalpath;
            } else {
                // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
                pic.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='image',src=\"" + reallocalpath + "\")";
                // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
                pic.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
            }
        } else {
            html5Reader(file);
        }
    }

    function html5Reader(file) {
        var file = file.files[0];
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function (e) {
            var pic = document.getElementById("preview");
            pic.src = this.result;
        }
    }
</script>
</body>
</html>