<% include ./header%>
<div id="user">
    <%= user %>
</div>

<div id="img">
    <img src="<%= cafe.img %>">
</div>
<div id="title">
    <a href="<%= cafe.link %>"><%= cafe.title %></a>
</div>
<% include ./footer%>