<!DOCTYPE html>
<html lang="en">
<head>
    <title>台灣咖啡地圖</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/index.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<style>
    @font-face {
        font-family: 'word';
        src: url('fonts/SentyTEA.ttf') format('truetype');
    }
</style>

<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">台灣咖啡地圖</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/">Home</a></li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"> 地區 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/district/N">北部</a></li>
                    <li><a href="/district/W">中部</a></li>
                    <li><a href="/district/S">南部</a></li>
                    <li><a href="/district/E">東部</a></li>

                </ul>
            </li>
            <!--<li><a href="/introduce">咖啡廳推薦</a></li>-->
            <li><a href="/knowledge">咖啡豆知識</a></li>
            <li><a href="/history">咖啡歷史</a></li>
            <% if(!user) { %>
            <li><a href="/login">登入/註冊</a></li>
            <% } %>
            <% if(user) {%>
            <li><a class="dropdown-toggle" id="login" data-toggle="dropdown" href="#"><%= user.userName %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/showPerson">個人資訊</a></li>
                    <li><a href="../login/logout">登出</a></li>
                </ul>
            </li>
            <% } %>
        </ul>
    </div>

</nav>
<nav class="coffee">

    <div class="pic">
        <img src="images/img/header.jpg">
        <div class="title-box">
            <div id="title">台灣咖啡地圖</div>
            <div id="titleA">整個城市都是我的咖啡館</div>
            <div id="titleB">我不在咖啡館，就是在咖啡館的路上</div>

        </div>
    </div>
</nav>
<div id="aboutus">

    <h1>About us</h1>
    <p>
        台灣人最喜歡在咖啡廳忙裡偷閒<br>
        你可以透過我們<br>
        找到最適合自己的咖啡館<br>
        去擁有最閒最舒適的下午
    </p>
</div>


</body>
</html>
