<% include ./header%>
<div id="user">
    <%= user %>
</div>

<div id="img">
    <img src="<%= cafe[i].img %>">
</div>
<div id="title">
    <a href="<%= cafe[i].link %>"><%= cafe[i].title %></a>
</div>
<% include ./footer%>