<!DOCTYPE html>
<html lang="en">
<head>
  <title>咖啡豆知識</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="stylesheets/knowledge.css" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
 <style>
@font-face {
font-family: 'word';
src: url('fonts/SentyTEA.ttf') format('truetype');
unicode-range: 文字1 編碼, 文字2 編碼, 文字3 編碼;
}
</style>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">台灣咖啡地圖</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/">Home</a></li>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"> 地區 <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/district/N">北部</a></li>
                    <li><a href="/district/W">中部</a></li>
                    <li><a href="/district/S">南部</a></li>
                    <li><a href="/district/E">東部</a></li>

                </ul>
            </li>
            <!--<li><a href="/introduce">咖啡廳推薦</a></li>-->
            <% if(user){ %>
            <li><a href="/editcafePage">我要新增</a></li>
            <% } %>
            <li><a href="/knowledge">咖啡豆知識</a></li>

            <li><a href="/history">咖啡歷史</a></li>

            <% if(!user) { %>
            <li><a href="/login">登入/註冊</a></li>
            <% } %>
            <% if(user) {%>
            <li><a class="dropdown-toggle" id="login" data-toggle="dropdown" href="#"><%= user.userName %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/showPerson">個人資訊</a></li>
                    <li><a href="../login/logout">登出</a></li>
                </ul>
            </li>
            <% } %>
        </ul>
    </div>

</nav>
  <div id="content">
   <div id= "today_info">
    <h2 id= "today_info_title">咖啡簡介</h2>
    <div id= "today_info_article">
        <p>咖啡（英語：coffee）是採用經過烘焙過程的咖啡豆（咖啡屬植物的種子）所製作沖泡出來的飲料。咖啡是人類社會流行範圍最為廣泛的飲料之一，也是重要經濟作物，其為全球期貨貿易額度第二高（最高為石油）。</p>

        <p>咖啡樹原產於非洲亞熱帶地區，以及亞洲南部的一些島嶼。那些咖啡樹從非洲出口至世界各國，現時那些咖啡樹種植遍布超過70個國家，主要在美洲、東南亞、印度等赤道地區。</p>

        <p>咖啡普遍分為兩種：備受推崇的小果咖啡（阿拉比卡）及顆粒較粗和酸味較低而苦味較濃的中果咖啡（羅布斯塔）。咖啡一旦成熟，就會經過採摘，加工，烘焙的程序。咖啡是微酸性的，其咖啡因的含量對人體有刺激的作用。咖啡是世界上最流行的飲料之一，它能夠以多種方式製作，如：濃縮咖啡、卡布奇諾、拿鐵咖啡...等，通常是作為熱飲，亦也可作為冷飲。大部分的研究建議，適度飲用咖啡是有益的，甚或有利於健康的成年人。</p>

        <p>咖啡的種植首次發現於非洲衣索比亞，最早的可信證據出現於15世紀葉門的蘇菲主義，在非洲之角及葉門，咖啡被用於當地的宗教儀式。但亦由於這些儀式跟基督教的信仰抵觸的關係，衣索比亞正教會禁止咖啡消費世俗化，直至孟利尼克二世的統治時期。在17世紀土耳其的鄂圖曼帝國，由於政治原因，飲料也被禁止的，並與歐洲叛逆的政治活動有關。</p>

        <p>咖啡是一種主要的出口商品：它是許多國家的頂級農業出口商品，躋身世界上最大的合法農產品出口物，亦是發展中國家出口中最有價值的商品之一。綠色咖啡豆（未經烘焙的）是世界上交易量最大的農產品之一，一旦交易，咖啡豆會根據不同的口味而有不同的烘焙程度，經過烘焙的咖啡豆能夠製作成為咖啡作為飲料。一些爭議指咖啡的種植與它環境影響有關，因此，公平貿易咖啡與有機咖啡是一個不斷擴大的市場。</p>
    </div>
  </div>

  </div>


</body>
</html>