body {
    max-width: 800px;
    margin: 0 auto 10px;
    position: relative;
    background-opacity: 0.8;


    
}
img{
	border-radius: 5px;
	display: block;
	float: left;
}
.navbar-brand{
	font-family: "word";
}
.right-nav{
	float:right;
	font-family:Microsoft JhengHei;
}
.pageTitle{
    margin-top: 70%;
    position: absolute;
    top: 3%;
}
.coverImage{
	display: flex;
	position: relative;
    margin-top: 12%;
}
.article{
	padding: 3%;
	display: flex;
	position: relative;
	background:rgba(0,0,0,0.1);
	margin-top: 5%;
	font-family:Microsoft JhengHei;
}
.person{
	float:right;
	font-family:Microsoft JhengHei;
}

.coverImage > img{
	display: block;
	float: left;
}
.coverImage > ul{
	display: right;
}
.coverImage > ul > li{
	font-size: 15px;
	color:grey;
	list-style-type:none;
	margin-top:10%; 
}
.article > ul >li{
	font-size: 15px;
	color:grey;
	list-style-type:none;
	margin-top:0.5%; 
	margin-left: -40%;
	font-family:Microsoft JhengHei;
}
.button {
    background-color: #DBDBDB;
    border: none;
    color: grey;
    padding: 1% 3%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2% 2% 2% 2%;
    cursor: pointer;
    border-radius: 10px;
}
button:hover {
	color:#5CA4A9;
	opacity: 0.8;
/*	border-color: #9BC1BC;
	border:solid;
	border-size:2px;*/
}
#title{
	margin-top:10%;
}
